@charset "utf-8";


/* Reset */

body,
h1, h2, h3, h4,
form, input, textarea, label, a, img {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section { display: block; }

p { margin: 0 0 20px 0; }

hr {
  height: 1px;
  border: 10px solid #eee;
  margin: 10px 0 10px 0;
}

em,
dfn { font-style: italic; }

b,
strong { font-weight: bold; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset {
  border: 1px solid #eee;
  margin: 0;
  padding: 5px;
}

button,
html input[type="button"],
input[type="submit"] { cursor: pointer; }

button,
input {
  line-height: normal;
  font-weight: normal;
}

abbr[title],
dfn[title]{
	cursor: help;
	border-bottom: 1px dotted;
}

pre,
code { font-family: monospace; }